/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";

.header {
    &__container {
        width: 100%;
        height: 768px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        height: 100%;
    }

    &__heading {
        flex: 1 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        font-family: "Montserrat";
        font-size: 54px;
        font-weight: 900;
    }

    &__logo {
        margin-top: 70px;
        width: 110px;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        width: 100px;
        color: #415167;
        z-index: 3;
        margin-bottom: 70px;
        .white {
            display: inline-block;
            background: #c7a17a;
            padding: 10px;
            margin-left: -10px;
            color: white;
        }
    }

    &__image {
        flex: 1 0 50%;
        background: url("../img/header/h-image.jpg") no-repeat;
        background-size: 100% auto;
    }

    &__menu {
        flex: 1 0 20%;
        background-color: #415167;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    &__nav-image {
        width: 40px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        p {
            margin-bottom: 40px;
            padding-left: 20px;
        }
        align-self: center;
        color: #edf0f5;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 700;
        a {
            font-family: "Nunito";
            font-weight: 300;
            color: #edf0f5;
            font-size: 16px;
            padding: 20px;
        }
        ul li.cart {
            display: none;
        }
        ul li {
            margin-bottom: 30px;
        }
        ul li a:hover {
            text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 5px;
        }
    }
}
@media all and (min-width: 2560px) {
    .header {
        &__title {
            font-size: 84px;
        }
        &__nav {
            p {
                margin-bottom: 50px;
                padding-left: 30px;
            }
            font-size: 25px;

            a {
                font-size: 25px;
                padding: 30px;
            }
        }
        &__logo {
            margin-top: 70px;
            width: 220px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
@media all and (min-width: 1680px) {
    .header {
        &__title {
            font-size: 64px;
        }
        &__nav {
            p {
                margin-bottom: 50px;
                padding-left: 30px;
            }
            font-size: 20px;

            a {
                font-size: 20px;
                padding: 30px;
            }
        }
        &__logo {
            margin-top: 70px;
            width: 150px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
@media all and (max-width: 1440px) {
    .header {
        &__container {
            height: 700px;
        }
    }
}
@media all and (max-width: 1285px) {
    .header {
        &__container {
            height: 500px;
        }
        &__heading {
            font-size: 48px;
            margin-bottom: -30px;
        }
        &__nav {
            p {
                margin-bottom: 25px;
            }
            font-size: 16px;
            a {
                font-size: 14px;
            }
            ul li {
                margin-bottom: 20px;
            }
        }
    }
}
@media all and (max-width: 1285px) {
    .header {
        &__heading {
            font-size: 40px;
            margin-bottom: -20px;
        }
    }
}
@media all and (max-width: 910px) {
    .header {
        &__container {
            height: 420px;
        }
        &__heading {
            font-size: 32px;
            margin-bottom: -30px;
        }
        &__nav {
            a {
                font-size: 12px;
            }
        }
    }
}
@media all and (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        &__container {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        &__heading {
            font-size: 32px;
            margin: 0;
            padding: 0;
        }
        &__logo {
            position: fixed;
            z-index: 50;
            padding: 5px 0;
            margin: 0;
            height: 50px;
            width: 100%;
            text-align: center;
            z-index: 120;
            img {
                display: none;
            }
        }
        &__logo::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../img/header/revo_logo-opacity.png") no-repeat, rgba(255, 255, 255, 0.9);
            background-size: auto 80%;
            background-position: center;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 30px;
            z-index: 120;
            float: right;
            margin: 5px 7px 0 0;
        }
        &__burger span {
            position: absolute;
            background-color: #415167;
            left: 0;
            width: 100%;
            height: 5px;
            top: 10px;
            border-radius: 10px;
            transition: all 0.3s ease 0s;
        }
        &__burger::before,
        &__burger::after {
            content: "";
            background-color: #415167;
            position: absolute;
            width: 100%;
            height: 5px;
            left: 0;
            border-radius: 10px;
            transition: all 0.3s ease 0s;
        }
        &__burger::before {
            bottom: 1px;
        }
        &__burger::before {
            top: 20px;
        }
        &__burger.active span {
            background-color: #df2727;
        }
        &__burger.active::before,
        &__burger.active::after {
            content: "";
            background-color: #df2727;
        }
        &__title {
            width: 100px;
            color: rgba(255, 255, 255, 0.7);
            margin: 10px;
            margin-top: 50px;
            position: absolute;
            .white {
                background: none;
                padding: 0;
                margin: 0;
                color: white;
            }
        }

        &__image {
            width: 100%;
            height: 200px;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/h-image.jpg");
            background-size: 100% auto;
            background-position: center;
        }
        &__body {
            display: block;
            flex-direction: column;
        }

        &__heading {
            display: block;
        }
        &__menu.active {
            top: 0;
        }
        &__menu {
            transition: all 0.3s ease 0s;
            position: fixed;
            overflow: auto;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #415167;
            z-index: 100;
            display: flex;
            align-items: center;
            a {
                font-size: 24px;
            }
            ul li {
                margin-bottom: 50px;
            }
            ul li:first-child {
                margin-top: 30px;
                margin-bottom: 60px;
            }
            ul li:last-child {
                margin-bottom: 10px;
            }
            ul li.cart {
                display: inline;
            }
            ul {
                align-self: center;
            }
        }
        &__nav-image {
            display: none;
        }
        &__nav {
            height: 100%;
            display: flex;
            align-items: space-between;
        }
    }
}
